@import 'styles/layout';
@import 'styles/colors';

section {
    @include wrapper;

    ul.menu {
        border-top: 1px solid $color-very-light-grey;
        border-bottom: 1px solid $color-very-light-grey;
        margin-bottom: 30px;
        
        li {
            padding-right: 20px;
            display: inline-block;
            a {
                line-height: 50px;
                text-decoration: none;
                &:hover {
                    color: $color-roche
                }
            }
        }
    }
}