<section>
  <div id="container">
    <ul class="menu">
      <li>
        <a routerLink="flight">Flight</a>
      </li>
      <li>
        <a routerLink="flight/cezar1233434">Ditect Patiet flight</a>
      </li>
      <li><a routerLink="test">Test</a></li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</section>
