@import 'styles/layout';
@import 'styles/colors';

.header {
    background-color: $color-roche;
    min-height: 50px;
    section {
        @include wrapper; 
    }
}

.content {
    section {
        @include wrapper; 
    }
}