<header class="header">
  <section>
    <ods-apps-list [appsList]="remoteAppsService.remoteApps$ | async">
    </ods-apps-list>
  </section>
</header>
<div class="content">
  <section>
    <h1>Launched Modules</h1>
  </section>
</div>
<router-outlet></router-outlet>
