@import '../colors';
@import '../typography';

.mat-button {
  cursor: pointer;
  border-radius: 0 !important;
  line-height: 35px;

  font: {
    size: 14px;
    weight: 600;
  }

  .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.disable-hover-effect {
    .mat-button-focus-overlay {
      opacity: 0 !important;
    }
  }
}

.mat-flat-button {
  text-transform: uppercase;

  font: {
    size: 16px;
    weight: 600;
  }
}

// Custom material button classes
.mat-clean-button {
  &.mat-menu-button-active {
    box-shadow: none;
  }

  .mat-button-focus-overlay {
    background-color: transparent;
  }

  // Custom animation on svg icon
  // rotate icon true 180deg
  &--toggleOverview {
    .mat-icon svg {
      transition-duration: 0.4s;
      transition-property: transform;
      transform: rotate(180deg) !important;
    }
    &.active {
      .mat-icon svg {
        transform: rotate(0deg) !important;
      }
    }
  }
}

// Custom button italic
.mat-button--italic {
  @include link-italic;
  text-transform: lowercase;
  padding: 0;

  line-height: initial !important;
  margin-bottom: 12px;
}

// Review mode button
.mat-button--review {
  color: $color-white;
  background: $color-roche;
  font-weight: 500;
  border-radius: 4px !important;
}

.mat-gray {
  background-color: $color-grey;
  color: $color-white;
  &:disabled {
    background: $color-disabled-grey !important;
    color: $color-white !important;
  }
}

.mat-stroked-button {
  border-radius: 0 !important;
  border: 1px $color-button-stroked-border solid !important;
  .mat-button-focus-overlay {
    background-color: transparent;
  }
}

// button with icon
.mat-icon-button-text {
  width: auto !important;
  height: 20px !important;
  line-height: 20px !important;
  font-weight: 100;
  color: $color-grey;

  .mat-button-wrapper {
    > .mat-icon {
      width: 24px !important;
      height: 24px !important;
      line-height: 0;
      vertical-align: middle !important;
    }
  }

  &.active {
    color: $color-roche;
    font-weight: 600;
  }
  &:hover {
    color: $color-roche;
  }
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: $color-roche;
}

.mat-button--help {
  @include link-italic;
  text-transform: lowercase;
  border-radius: 4px !important;
}

// Not a material but still usefull
.button--link {
  cursor: pointer;
  color: $color-roche;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;

  :hover {
    text-decoration: underline;
  }
}
