@import '../colors';

.mat-checkbox {
  // Fix for alternate node in IE
  display: inline !important;
  cursor: pointer;

  [disabled] & {
    pointer-events: none;
  }

  .mat-checkbox-label {
    color: $color-black;
    font-size: 16px;
    white-space: normal;
    margin-left: 25px;
  }

  &.mat-checkbox-disabled {
    pointer-events: none;

    .mat-checkbox-label {
      color: $color-grey;
      font-size: 16px;
      white-space: normal;
    }
  }

  .mat-checkbox-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  .mat-checkbox-checkmark-path,
  .mat-checkbox-checkmark {
    stroke: $color-dark !important;
  }

  .mat-checkbox-inner-container {
    position: absolute;
    width: 16px !important;
    height: 16px !important;
    margin: 0;
    top: 5px;
    background: $color-checkbox-frame-background;
  }

  .mat-checkbox-frame {
    border: {
      width: 1px;
      radius: 0;
      color: $color-grey;
    }

    .mat-checkbox-disabled {
      border-color: $color-light-grey;
    }
  }

  &.mat-checkbox-checked {
    .mat-checkbox-background {
      background-color: transparent;
    }
    .mat-checkbox-frame {
      background: $color-white;
    }
    .mat-checkbox-label {
      color: $color-roche;
      font-weight: 700;
    }
  }

  &.mat-checkbox-disabled .mat-checkbox-ripple {
    display: none;
  }
}
