@import '~@angular/material/theming';

// Core setup
$general-typography: mat-typography-config(
  $font-family: '"Source Sans Pro", sans-serif'
);
@include mat-core($general-typography);

// Variables
$nap-primary: mat-palette($mat-blue);
$nap-accent: mat-palette($mat-pink, A200, A100, A400);
$nap-warn: mat-palette($mat-red);
$nap-theme: mat-light-theme($nap-primary, $nap-accent, $nap-warn);

@include angular-material-theme($nap-theme);
