.mat-dialog-actions {
  margin-bottom: 0 !important;
  padding: 20px 0 0 0 !important;
  button {
    text-transform: uppercase !important;
  }
}
.cdk-overlay-dark-backdrop + .cdk-global-overlay-wrapper .mat-dialog-container {
  box-shadow: none !important;
}

.panel-without-backdrop {
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px;
}

.mat-dialog-container .cdk-drag {
  cursor: move;
}
