.mat-expansion-panel {
  &:not([class*='mat-elevation-z']) {
    border-bottom: solid 1px $color-light-grey;
    box-shadow: none !important;
  }

  &-header {
    flex-direction: row-reverse !important;
  }

  &-content {
    li {
      font-size: 1em;
      margin-bottom: 1em;
      color: $color-grey;
    }
  }
}
