@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */

  /* General fixes */
  .mat-select-panel {
    max-width: 240px !important;
  }

  /* Per component fixes */
  nap-filters {
    .nap-field-wrapper {
      width: 100%;
    }
    .nap-distance {
      input {
        padding: 0 8px;
      }
    }
  }
}
