@import 'styles/colors';

input {
  border: 1px solid $color-divider;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: inherit;
  transition: 175ms;
  transition-property: border-color;
  outline: none;

  &:hover,
  &:focus {
    &:not(:disabled) {
      border-color: $color-grey;
    }
  }

  &:disabled {
    opacity: 0.6;
  }

  &.ng-invalid,
  &.ng-invalid:focus,
  &.ng-invalid:hover {
    border-color: $color-dark-red;
  }

  &::placeholder {
    font-style: italic;
    color: $color-light-grey;
  }

  &::-moz-placeholder {
    font-style: italic;
    color: $color-light-grey;
  }

  &::-webkit-input-placeholder {
    font-style: italic;
    color: $color-light-grey;
  }

  &:-ms-input-placeholder {
    font-style: italic;
    color: $color-light-grey;
  }
}
