@import '../colors';
@import '../mixins/arrows';

.mat-menu-top-arrow {
  @include arrow-down();
}

html .mat-menu {
  &-panel {
    &.mat-elevation-z2 {
      box-shadow: 0 0 4px 0 $color-shadow;
    }
  }
  &-content:not(:empty) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-item {
    font-size: 1rem;
    font-weight: 600;
    color: $color-dark;
    padding: 5px 20px;
    height: auto;
    line-height: normal;

    &:hover:not([disabled]) {
      text-decoration: underline;
      background-color: transparent;
    }
  }
  &-button-active {
    box-shadow: 0 0 4px 0 $color-shadow;
  }
}
