@import '../colors';

.mat-radio-button {
  &.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.54);
  }
  &.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent
    .mat-radio-ripple
    .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $color-roche;
  }
}
