@import '../colors';

.mat-form-field {
  line-height: 1.225;
}

.mat-form-field-infix {
  border-bottom: 1px solid #cad1d7;
}

.mat-form-field-appearance-legacy {
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.gdl-filters {
  &:last-child {
    margin-right: inherit;
  }

  .guideline-source,
  .cancer-type,
  .guideline-starting-point {
    margin-right: 20px;
  }

  .guideline-source {
    width: 210px;
  }

  .cancer-type {
    width: 210px;
  }
}

.mat-select-panel {
  transform-origin: 50% -1px 0px;
  font-size: 16px;
  margin-top: -1px;
  margin-left: 15px;
  min-width: calc(100% + 32px) !important;
  border-radius: 0 !important;
}

.mat-select-content {
  transform-origin: 50% -1px 0px;
  transform: translateX(-1px) translateY(-1px);
}

.mat-select-placeholder {
  font-style: normal !important;
  color: $color-black !important;
}

.mat-select-disabled {
  .mat-select-placeholder {
    color: rgba(0, 0, 0, 0.38) !important;
  }

  .mat-select-arrow-wrapper {
    .mat-select-arrow {
      color: rgba(232, 232, 232, 1) !important;
    }
  }
}

html .mat-option {
  padding: 5px 10px;
  height: 40px;
  line-height: 1.1;

  &:hover:not(.mat-option-disabled) {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    min-height: 40px;
    background: $color-light-blue-background-hover;

    .mat-option-text {
      white-space: normal;
    }
  }
}

.mat-select-search-inner {
  left: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.mat-select-search {
  padding: 0 !important;
}

.mat-select-search-input {
  border: 0;
  width: 100%;
  height: 40px !important;
  line-height: 40px !important;
  padding: 0 15px !important;
}

.mat-optgroup-label {
  line-height: 40px !important;
  height: 40px !important;
  padding: 0 10px !important;
  font-weight: bold;
  color: #000;
}

.mat-select-option-group {
  padding: 0 15px !important;
}

.mat-select-search-clear.mat-button.mat-icon-button {
  top: 7px !important;
  right: 7px !important;
  height: 24px !important;
}

.mat-select-close-icon {
  margin-right: 0;
  display: flex !important;
  align-items: center !important;

  &:hover {
    background: #fff !important;
  }
}

.mat-select-search-clear {
  &:hover {
    background: #fff !important;
  }
}

.mat-optgroup-no-label {
  .mat-optgroup-label {
    margin-top: -1px;
    height: 1px !important;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5) !important;
  }
}

@media print {
  .mat-form-field-label {
    display: none !important;
  }
}

// IE Fixes for dropdowns after upgrade to Angular 11. Remove when possible
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mat-select:not(.ng-dirty) {
    .mat-select-trigger {
      height: auto;
      width: 180px;

      .mat-select-arrow {
        position: absolute;
        right: 0;
        top: -9px;
      }
    }
  }
  .mat-select:not(.mat-select-empty) {
    .mat-select-trigger {
      height: auto;
      width: 180px;

      .mat-select-arrow {
        position: absolute;
        right: 0;
        top: 7px;
      }
    }
  }
}
