@import '../colors';

.mat-slider-horizontal {
  height: 36px !important;
  .mat-slider-wrapper {
    top: 18px !important;
  }
}

.mat-accent {
  .mat-slider-track-fill,
  .mat-slider-thumb,
  .mat-slider-thumb-label {
    background-color: $color-roche;
  }
}
