@import '../colors';

.mat-tab-label {
  font: {
    size: 22px;
    weight: 600;
  }
  opacity: 1 !important;
  color: $color-dark;

  &.mat-tab-label-active {
    color: $color-roche;
  }
}

.mat-ink-bar {
  bottom: auto;
  top: 0;
  height: 4px !important;

  &::after {
    content: ' ';
    display: block;
    background: #fff;
    top: 46px;
    height: 4px;
    width: 100%;
    position: absolute;
  }
}

.mat-tab-header {
  border-bottom: none;
}

.mat-tab-body-content {
  padding-top: 20px;
}

.mat-tab-labels {
  border-bottom: {
    width: 1px;
    style: solid;
    color: $color-divider;
  }
}
