@import '../colors';

mat-tooltip-component {
  .mat-tooltip {
    background-color: $color-tooltip-background;
    color: $color-tooltip-font;
    font-size: 16px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px;
    border-radius: 0;
    &--biomarkers {
      word-break: break-all;
      max-width: 500px;
      text-align: left;
      font-weight: bold;
      border-radius: 0;
      color: $color-roche;
      background: $color-white;
      padding: 15px;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    }
    &--icon {
      background: rgba(0, 0, 0, 0.6);
      color: $color-white;
      font-size: 12px;
      padding: 4px 8px;
      box-shadow: none;
      border-radius: 2px;
      margin: 14px 14px 14px 6px;
    }
  }
}
