@import '../../colors';
@import '../../typography';

.mat-button {
  outline: 0;
  border: 0;
  padding: 0 16px !important;
  margin: 0;
  font-size: 14px;
  height: 36px;
  line-height: 35px !important;
  font-weight: 400;

  .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-button--back {
  display: flex;
  height: 56px;
  padding: 0 20px 0 0 !important;
  min-width: auto !important;
  color: rgba($color-white, 0.87);
  .mat-button-focus-overlay {
    background: $color-roche;
  }
  &:hover {
    color: $color-white;
  }
}

.mat-button--comments {
  display: flex;
  height: 24px;
  font-size: 12px;
  line-height: 24px !important;
  color: rgba(0, 0, 0, 0.87);
  background: rgba(0, 0, 0, 0.13);
  border-radius: 16px !important;
  //.mat-button-focus-overlay {
  //  background: $color-roche
  //}
  &:hover {
    background: $color-roche;
    color: $color-white;
  }
}

.mat-button--review,
.mat-button--help {
  background: $color-white;
  color: $color-roche;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.25px;
  padding: 0 9px 0 16px !important;

  &.opened {
    background: rgba($color-white, 0.88);
  }

  &:hover {
    cursor: pointer;
  }

  .mat-badge-content {
    font-weight: 400;
    display: flex;
    position: initial;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: $color-roche;
    color: $color-white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    font-style: normal;
  }
}

.mat-stroked-button {
  text-transform: uppercase;
  color: $color-roche;
  height: 36px !important;
  line-height: 36px !important;
  font-weight: 500;
}
