@use 'styles/colors';

.cdk-overlay-dark-backdrop + .cdk-global-overlay-wrapper .mat-dialog-container {
  box-shadow: none !important;
}

.panel-without-backdrop {
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px;
}

.mat-dialog-container .cdk-drag {
  cursor: move;
}

mat-dialog-container {
  &.mat-dialog-container {
    padding: 0;
  }

  .mat-dialog-title {
    font: 500 20px/24px 'Roboto';
    padding: 20px 24px 20px 24px;
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 8px;
    }
  }

  .mat-dialog-content {
    margin: 0;
    min-height: 64px;
  }

  .mat-dialog-actions {
    padding: 0;
    margin-bottom: 0;

    button {
      font: 500 14px/16px 'Roboto';
      letter-spacing: 1.25px;
      color: colors.$color-roche;
      margin: 8px;
      text-transform: uppercase;
    }
  }
}
