@import '~perfect-scrollbar/css/perfect-scrollbar.css';

perfect-scrollbar {
  height: 100%;
}

.loading {
  .ps-content {
    display: flex !important;
    height: 100%;
  }
}

.ps-content {
  height: auto;
  padding: 30px;
  //display: flex;
}

//.ps__rail-y {
//  opacity: 0.6 !important;
//}
