$color-empty: #373f47;
$color-empty-light: #a2aeba;
$color-pathology: #8a266f;
$color-pathology-light: #eed2e7;
$color-radiology: #373f47;
$color-radiology-light: #c1cbd6;
$color-genomic: #ffca07;
$color-genomic-light: #ffedad;
$color-treatment: #ca3725;
$color-treatment-light: #edbdb7;
$color-other: #39ae6d;
$color-other-light: #bae9cf;
$color-roche: #06c;
$color-roche-light: #a5d2ff;

$color-very-dark: #202531;
$color-dark: #373f47;
$color-grey: #5a6774;
$color-disabled-grey: #a2aeba;
$color-light-grey: #979797;
$color-very-light-grey: #e8ecf0;
$color-dark-red: #d0011b;
$color-red: #f55;
$color-white: #fff;
$color-black: #000;
$color-yellow: #ffc414;

$color-background: #d9e1e7;
$color-divider: #cad1d7;

$color-shadow: rgba(0, 0, 0, 0.5);

$color-button-stroked-border: #cad1d7;
$color-button-stroked-hover: $color-roche;

$color-checkbox-frame-border: #e8e8e8;
$color-checkbox-frame-background: #fafafa;
$color-checkbox-label: #8d8d8d;

$color-tooltip-background: #fafafa;
$color-tooltip-font: #191919;

$color-last-node-background: rgba(0, 102, 204, 0.05);
$color-last-node-alternate-background: rgba(242, 186, 19, 0.05);
$color-alternate-label: #191919;
$color-alternate-alert: #c03;

// Analytics
$color-ice-blue: #eceff4;

// Filters
$color-selected-option-background: rgba(0, 102, 204, 0.12);

// Graph
$color-graph-default: #8d8d8d;

//Comments
$color-header-icon: #295f2f;
$color-header-icon-background: #96f0a7;
$color-bubble-border: #c7c7c7;
$color-comment-content: #a0a0a0;
$color-footer-icon: #9f9f9f;

// Design system
$color-info: #ffb121;
$color-default-text: rgba(0, 0, 0, 0.87);
$color-alert-green: #55cc22;
//$color-light-blue-background: rgba(0, 102, 204, 0.08);
$color-light-blue-background: #eef3fb;
$color-light-blue-background-hover: rgba(0, 102, 204, 0.06);
$color-black-med-emphasis: rgba(0, 0, 0, 0.6);
$color-black-high-emphasis: rgba(0, 0, 0, 0.87);

// Review Mode
$color-review-border: #e0e0e0; // TODO: Find proper color for borders
$color-review-container-border: #edf0f2; // TODO: Find proper color for borders
$color-review-background: #f5f5f5;
