@import './colors';

@mixin header-h1 {
  color: $color-dark;
  font-size: 2.3em;
  line-height: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}

@mixin header-h2 {
  color: $color-black;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}

@mixin link-italic {
  font-style: italic;
  color: $color-roche;
  font-weight: 500;
}

@mixin text-secondary {
  color: $color-grey;
  font-size: 1.375em;
}

@mixin header-bottom-devider {
  padding-bottom: 0.625vw;
  margin-bottom: 1.25vw;
  border-bottom: 1px solid $color-light-grey;
}

@mixin button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;
  line-height: normal;

  outline: none;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

@mixin text-small {
  font-size: 14px;
  font-weight: 100;
  color: $color-grey;
}

@mixin text-super-small {
  font-size: 12px;
  color: $color-light-grey;
}

@mixin list-depth {
  @for $i from 1 through 10 {
    &.depth-#{$i} {
      margin-left: ($i - 1) * 24 + px;
    }
  }

  &.depth-1 {
    list-style-type: disc;
  }

  &.depth-2 {
    list-style-type: circle;
  }
  &:not(.depth-1, .depth-2) {
    list-style-type: square;
  }
}
