<h1>
  Flights for patient<span *ngIf="patient$ | async as patient"
    >: <strong>{{ patient }}</strong></span
  >
</h1>
<div>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>From:</mat-label>
    <input matInput type="text" [(ngModel)]="from" />
    <button
      *ngIf="from"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="from = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>To:</mat-label>
    <input matInput type="text" [(ngModel)]="to" />
    <button
      *ngIf="to"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="to = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="buttons">
  <button mat-raised-button color="primary" (click)="search()">Search</button>

  <button mat-raised-button>Terms...</button>
</div>
<div>
  <ng-container #vc></ng-container>
</div>
