@import 'styles/colors';

.example-form-field {
    width: 200px;
    margin-right: 15px;
  }

.buttons {
    border-top: 1px solid $color-very-light-grey;
    padding-top: 20px;
    .mat-raised-button {
        margin-right: 15px;
    }
}