@import 'styles/colors';

ul {
    li {
        a {
            line-height: 50px;
            color: $color-white;
            text-decoration: none;

            &:hover {
                color: $color-very-light-grey;
            }
;        }
    }
}