@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'styles/theme';
@import 'styles/colors';

*,
*::before,
*::after {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  outline: none;
}

html {
  font-weight: 400;
  color: $color-dark;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: $color-roche;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}

.node.selected rect {
  stroke: $color-roche;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

.edgePath.selected path {
  stroke: $color-roche;
}

.cluster .label text {
  font-size: 12px;
  font-weight: 400;
}

.clusters rect {
  fill: transparent;
  stroke: $color-roche;
  stroke-width: 2px;
  stroke-dasharray: 3px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
