@use "sass:math";

@mixin arrow-down() {
  $size: 1em;
  $position: -1em;
  $bg-color: #fff;
  $shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.2);

  position: relative;
  overflow: visible !important;
  margin-top: $size;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    top: 1px;
    right: $position;
    box-sizing: border-box;

    border: math.div($size, 1.4142) solid;
    border-color: transparent transparent $bg-color $bg-color;

    transform-origin: 0 0;
    transform: rotate(135deg);

    box-shadow: $shadow;
  }
}
